* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgb(66, 65, 65);
}

.mainBody{
  display: flex;
}

.mainSec {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 10px;
}

.courseBox {
  width: 100%;
  background-color: yellow;
  border: 10px outset yellow;
  margin: 10px 0px;
  box-shadow: inset 45px 60px 5px 0px #FFC107;
}

.boxHead {
  padding: 15px 0px 10px 11px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.moreBtn{
  font-size: 20px;
  border: 2px solid yellow;
  font-weight: bolder;
}

.detailsBox {
  padding: 0px 30px;
}

.courseDetails{
  text-decoration: underline #a17b09;
}

.asideSec{
  border: 1px solid black;
  width: 20%;
  height: auto;
  padding: 10px 10px 0px 10px;
  background-color: #FFC107;
}

.linksSec{
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 10px 5px;
}

.refLinks{
  font-size: 30px;
}